version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build: 
      context: ./backend
      dockerfile: PhonebookApi/Dockerfile
    ports:
      - "5074:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Server=db;Database=phonebook;Username=postgres;Password=postgres;TrustServerCertificate=True
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=postgres@Passw0rd
      - MSSQL_PID=Express
    volumes:
      - sql_data:/var/opt/mssql
    ports:
      - "1433:1433"
    restart: unless-stopped

volumes:
  sql_data: